body{
    background: linear-gradient(#919e85, #9198e5);}
.box{
    margin: 150px 20px 20px;
    overflow: hidden;
    height: 30vh;
    max-height: 30px;
    text-align: center;
    box-shadow: 0px 12px 18px -6px rgba(0,0,0,0.3);
    border-radius: 10px 10px 10px 10px;
    background: linear-gradient(darkgrey,darkslategray);

}

/*.boxes{*/
/*    max-width: 50%;*/
/*    margin: auto;*/
/*}*/
